:root {
  --background: #F3E9DD;
  --card-background: #F1DDBF;
  --header-h1: #AD8B73;
  --header-border: #AD8B73;
  --facrd: #faf4ec;
}


body {
  background: var(--background) !important;
  margin: 0;
  font-family: monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  display: flex;
  margin: 0;
  justify-content: center;
}
header h1 {
  font-size: 40px !important;
  font-weight: 500;
  color: var(--header-h1);
  border-right: 2px solid var(--header-h1);
  animation: cursor 2s infinite step-end, typing 10s infinite steps(16);
  white-space: nowrap;
  overflow: hidden;
}
@keyframes cursor{
  0%, 100%{border-color: transparent;}
  50%{border-color: #000;}
}

@keyframes typing{
  0%{ width: 0ch} /*Text is hidden*/
  30%{ width: 10ch;} /* Enitre header will be typed out*/
  80%{ width: 10ch;} /*Text stays visible*/
  90%{ width: 0ch;} /*Text is deleted*/
  100%{ width: 0ch;} /*Text stays hidden*/
}

.card-main {
  background: var(--card-background);
  height: auto;
  border-radius: 50px;
}

.card {
  border-radius: 50px !important;
  border:none !important;
}

.fcard {
  background: var(--facrd);
  color: black;
  position: relative;
  border-radius: 2.5em;
  padding: 2em;
  transition: transform 0.4s ease;
}

.fcard .fcard-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5em;
  height: 100%;
  transition: transform 0.4s ease;
}

.fcard .fcard-top, .fcard .fcard-bottom {
  display: flex;
  justify-content: space-between;
}

.fcard .fcard-top p, .fcard .fcard-top .fcard-title, .fcard .fcard-bottom p, .fcard .fcard-bottom .fcard-title {
  margin: 0;
}

.fcard .fcard-title {
  font-weight: bold;
}

.fcard .fcard-top p, .fcard .fcard-bottom p {
  font-weight: 600;
}

.fcard .fcard-bottom {
  align-items: flex-end;
}

.fcard .fcard-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  pointer-events: none;
}

.fcard .fcard-image svg {
  width: 4em;
  height: 4em;
  transition: transform 0.4s ease;
}

.fcard:hover {
  cursor: pointer;
  transform: scale(0.97);
}

.fcard:hover .fcard-content {
  transform: scale(0.96);
}

.fcard:hover .fcard-image svg {
  transform: scale(1.05);
}

.fcard:active {
  transform: scale(0.9);
}

.textflare {
  background-color: var(--background);
  border-radius: 50px;
  width: auto !important;
  height: auto;
  margin: 2px;
  line-height: 2.3em;
  font-size: 20px;
  padding: 1px 8px;
  white-space: nowrap;
  overflow: hidden;
}

.collapsible-container {
  padding: 10px;
  margin: 10px;
}

.collapsible-button {
  border:none !important;
  background-color: #f1f1f1;
  border-radius: 50px;
  width: auto !important;
  height: auto;
  margin: 2px;
  line-height: 2.3em;
  font-size: 20px;
  padding: 1px 8px;
  white-space: nowrap;
  overflow: hidden;
}

.collapsible-content {
  display: block;
  margin-top: 10px;
  transition: all 0.9s ease-in-out;
}

.collapsible-content.collapsed {
  display: none;
}

